# Dependencies
node_modules/
package-lock.json

# Serverless
.serverless/
.env

# User-specific files
%UserProfile%/
%UserProfile%/.aws/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Test coverage
coverage/
.nyc_output/

# Build
dist/
build/